body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(143, 172, 206);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(92, 123, 180);
  color:  whitesmoke;
  border-radius: 0;
  border-bottom: 10px color whitesmoke;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #7e6557;
  color: whitesmoke;
}

.present {
  background-color: #286cb9;
  color: whitesmoke;
}

.future {
  background-color: #2a572d;
  color: whitesmoke;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:rgb(92, 123, 180);
  color: white;
}

.hover {
  background-color: rgb(60, 96, 121);
}

.save-icon {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  margin-left: 10px;
  position: center;
  top:  40%;
  left: 40%;
}


